@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Playfair+Display');

* {
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Playfair Display', serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Montserrat', sans-serif;
}

main{
    display: grid;
    grid-template-columns: 5% auto 5%;
}

main>*{
    grid-column: 2/3;
}